@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
                Pessoas
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="txtPesquisa">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button id="btnPesquisar" type="button" class="btn btn-primary btn-default">
                            Pesquisar
                        </button>
                        <a id="new" href="#modalNew" role="button" class="btn btn-info btn-default" data-toggle="modal">
                            Cadastrar
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="tblPessoa" class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Nome
                        </th>
                        <th>
                            Data nascimento
                        </th>
                        <th>
                            Documento de identificação
                        </th>
                        <th>
                            Sexo
                        </th>
                        <th>
                            Endereço
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody id="dadosPessoas">
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Modal Editar-->
<div class="modal fade" id="modalEdit" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Editar
                </h4>
            </div>
            <form id="formEditar" role="form">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="txtNomeEditar">
                            Nome
                        </label>
                        <input type="text" required class="form-control" id="txtNomeEditar" />
                    </div>
                    <div class="form-group">
                        <label for="txtDtNascimentoEditar">
                            Data Nascimento
                        </label>
                        <input type="date" required class="form-control" id="txtDtNascimentoEditar" />
                    </div>
                    <div class="form-group">
                        <label for="txtDocumentoEditar">
                            Documento de Identificação
                        </label>
                        <input type="text" required class="form-control" id="txtDocumentoEditar" />
                    </div>
                    <div class="form-group">
                        <label for="txtSexoEditar">
                            Sexo
                        </label>
                        <input type="text" required class="form-control" id="txtSexoEditar" />
                    </div>
                    <div class="form-group">
                        <label for="txtEnderecoEditar">
                            Endereço
                        </label>
                        <input type="text" class="form-control" id="txtEnderecoEditar" />
                    </div>
                </div>
                <input type="hidden" id="hdPessoa" value="" />
                <div class="modal-footer">
                    <button id="btnCancelarEdit" type="button" class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Salvar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Modal Novo-->
<div class="modal fade" id="modalNew" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel1">
                    Cadastrar
                </h4>
            </div>
            <form id="formCadastro" role="form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtNome">
                            Nome
                        </label>
                        <input type="text" required class="form-control" id="txtNome" />
                    </div>
                    <div class="form-group">
                        <label for="txtDtNascimento">
                            Data Nascimento
                        </label>
                        <input type="date" required class="form-control" id="txtDtNascimento" />
                    </div>
                    <div class="form-group">
                        <label for="txtDocumento">
                            Documento de Identificação
                        </label>
                        <input type="text" required class="form-control" id="txtDocumento" />
                    </div>
                    <div class="form-group">
                        <label for="txtSexo">
                            Sexo
                        </label>
                        <input type="text" required class="form-control" id="txtSexo" />
                    </div>
                    <div class="form-group">
                        <label for="txtEndereco">
                            Endereço
                        </label>
                        <input type="text" class="form-control" id="txtEndereco" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnCancelarCadastro" type="button" class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </button>
                    <button id="btnCadastrar" type="submit" class="btn btn-primary">
                        Salvar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
