@page
@model ReportModel
@{
    ViewData["Title"] = "Report";
}
<h2>Gráficos</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div id="reportFaixa" style="height: 370px; width: 100%;"></div>
        </div>
        <div class="col-md-6">
            <div id="reportSexo" style="height: 370px; width: 100%;"></div>
        </div>
    </div>
</div>